@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  min-height: 100dvh;
  background-color: #cad9e0;
  box-sizing: border-box;
  color: #32221e;
}

th,
td {
  border: 1px solid #ffffff;
  color: #ffffff;
}

tr:nth-child(odd) {
  background-color: #32221e;
}

tr:nth-child(even) {
  background-color: #433936;
}

td {
  padding: 10px;
}

.gradient-background {
  background: linear-gradient(to bottom, #cad9e0, #0163aa);
}
